 header,
 footer{background-color: #9481ff69; color: #19004B; text-align: center; padding: 25px 0;}

 header h1{margin: 0; font-size: 2.5em;}

 header p{margin: 5px 0 0 0; color: #000000c0}


 main{max-width: 950px; margin: 40px auto; padding: à 20px;}


 section{background-color: #b8b8ff48; margin-bottom: 30px; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)}

 section h2{color: #19004B; margin-top: 0}




 #a-propos{display: flex; align-items: center; gap: 30px;}

 #a-propos img{border-radius: 10%;}

 .cartes-projets-conteneur{display: flex; justify-content: space-between; gap: 20px;}
 .carte{background-color: #f8f9fa; border: 1px solid #e9ecef; padding: 20px; border-radius: 6px; width: 32%}
 .carte h3{margin-top: 0;}
