 * {
  box-sizing: border-box;
}
 
 header,
 footer{background: RGBA(71, 0, 122, 10);
background: linear-gradient(90deg, rgba(71, 0, 122, 0.4) 0%, rgba(147, 129, 255, 0.4) 50%, rgba(71, 0, 122, 0.4) 100%); color: #19004B; text-align: center; padding: 25px 0;}

 header h1{margin: 0; font-size: 2.5em;}

 header p{margin: 5px 0 0 0; color: #000000c0}


 main{ max-width: 980px; margin: 40px auto; padding: 0 20px;}


 section{background-color: #b8b8ff48; margin-bottom: 30px; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)}

 section h2{color: #19004B; margin-top: 0}




 #a-propos{display: flex; align-items: center; gap: 30px;}

 #a-propos img{border-radius: 10%;}

.cartes-projets-conteneur {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
} .carte {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  padding: 20px;
  border-radius: 6px;
  flex: 1;
  min-width: 0;
}
 .carte h3{margin-top: 0;}

 body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  #a-propos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cartes-projets-conteneur {
    flex-direction: column;
  }

  .carte {
    width: 100%;
  }
}
